# generated executable
run_task

# development
.ipynb_checkpoints/
.vscode/

# build (cmake)
build/
*.o
*.so
CMakeCache.txt
CMakeFiles/
CMakeScripts
CTestTestfile.cmake
Makefile
cmake_install.cmake

# data
inputs/
outputs/